body {
    background: cyan;
}

.wrap {
    display: inline-block;
}

.wrap div {
    margin-left: 25%;
}

.lb1,
.lb2,
.lb3 {
    margin-left: 100px;
}

.demoFlex {
    display: flex;
}

.demoFlex div {
    margin-left: 20px;
}

.demoFlex div:first-child {
    margin-left: 100px;
}

button {
    margin-left: 100px;
}

.main_wrap {
    margin-top: 100px;
    margin-left: 30%;
}